<div class="item">
    <h2>Google orqali ro'yhatdan o'ting</h2>
    <a href="/auth/google" class="google_link">
        <span class="btn btn-primary" style="background-color:red" role="button">
            <i class=" fab fa-google"></i>
            Google orqali ro'yhatdan o'tish
        </span>
    </a>

</div>