<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/mdb-ui-kit/css/mdb.min.css">
  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}





</body>

</html>